
/* Courses.css */

.course {
  display: flex; /* Displays content as a flexbox */
  flex-direction: column; /* Stacks content vertically */
  box-sizing: border-box; /* Includes padding and border in width/height calculations */
  width: 100%; /* Makes component fill its container width */
  padding: 30px 50px; /* Adds padding inside the component */
  border-radius: 6px; /* Rounds the corners of the component */
  background-color: white; /* Sets background color to white */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adds box shadow */
}

.choose {
  display: flex; /* Displays buttons as flex items */
  gap: 30px; /* Adds horizontal spacing between buttons */
}

.choose button {
  padding: 15px; /* Adds padding inside the buttons */
  font-size: 20px; /* Sets font size of button text */
  font-weight: bold; /* Makes button text bold */
  border-width: 0px; /* Removes button border */
  border-radius: 10px; /* Rounds the corners of the button */
  background-color: orange; /* Sets button background color to orange */
}

.choose button:hover {
  transform: translateY(3px) scale(1.07); /* Adds hover effect to buttons */
}