.courseDetail {
  margin-top: 20px;
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}

.courseDetail hr {
  display: none; /* Hide the horizontal rule */
}

.courseDetail-format-main th {
  background-color: #f2f2f2;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  padding: 15px; /* Increase padding */
  text-align: center; /* Center align text */
  border: 1px solid #ddd; /* Add border */
}



.courseDetail-format-main th,
.courseDetail-format td {
  border: 1px solid #ddd; /* Add border */
  text-align: center;
}

.courseDetail-format td {
  padding: 15px; /* Increase padding */
}

.courseDetail-format:hover {
  background-color: #f2f2f2;
}

.popup{
  /* border-radius: 30px; */
  background-color: white;
  width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);
  padding-left: 0px;
}
.popup-close{
width: 100%;
/* height: 40px; */
margin-right: 10px;
border-radius: 20px;
/* background-color: green; */
display: flex;
justify-content: end;
align-items: center;
position: absolute;
}
.popup-close img{
width: 25px;
height: 25px;
padding: 3px;
border-radius: 5px;
/* margin-right: 1px; */
/* border: 0.5px  groove rgb(116, 113, 113); */
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add box shadow */

}
.popup-close img:hover{
  transform: scale(1.07);
}
.popup-button {
  cursor: pointer;
}

.courseDetail-open-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
 .courseDetail-open-icon:hover {
  transform: scale(1.06);
}





/* Center content of table cells */





