.notelist {
  padding: 10px 40px;
  width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 500px;
}

.notelist hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}

.notelist-format-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  color: #333;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 0;
}

.notelist-list {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.notelist-format {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 8px 0;
  transition: background-color 0.3s ease;
}

.notelist-format:hover {
  background-color: #e8e8e8;
}

.notelist-format p {
  margin: 0;
  padding: 10px;
}

.notelist-icon {
  width: 45px;
  height: 45px;
}

.notelist-remove-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.notelist-remove-icon:hover {
  transform: scale(1.3);
}

.notelist-remove-icon:active {
  transform: scale(0.99);
}
