/* EcommerceList.css */

.ecommerce {
  margin-top: 20px;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.ecommerce-format-main th {
  background-color: #f2f2f2;
  color: #333;
  font-size: 20px;
  font-weight: bolder;
  padding: 20px;
  text-align: center;
}

.ecommerce-format-main th,
.ecommerce-format td {
  border: 1px solid #ddd;
}

.ecommerce-format {
  transition: background-color 0.3s ease;
}

.ecommerce-format:hover {
  background-color: #e8e8e8;
  transform: scale(1.00003);

}

.ecommerce-format td {
  padding: 10px;
  text-align: center;
}

.ecommerce-icon {
  width: 60px;
  height: 60px;
}

.removeButton {
  width: 110px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #e74c3c;
  color: white;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.removeButton:hover {
  transform: scale(1.01699);
}

.removeButton:active {
  transform: scale(0.899);
}
