.inquiry {
    margin-top: 20px;
  }
  
  .inquiry table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .inquiry th,
  .inquiry td {
    border: 1px solid #e2e2e2;
    padding: 15px;
    text-align: left;
  }
  
  .inquiry th {
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 20px;
  }
  
  .inquiry th:first-child,
  .inquiry td:first-child {
    width: 10%;
  }
  
  .inquiry th:nth-child(2),
  .inquiry td:nth-child(2) {
    width: 20%;
  }
  
  .inquiry th:nth-child(3),
  .inquiry td:nth-child(3) {
    width: 20%;
  }
  
  .inquiry th:nth-child(4),
  .inquiry td:nth-child(4) {
    width: 30%;
  }
  
  .inquiry th:nth-child(5),
  .inquiry td:nth-child(5) {
    width: 20%;
  }
 
  
  .inquiry-remove-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .inquiry-remove-icon:hover {
    transform: scale(1.15);
  }
  
  .inquiry-remove-icon:active {
    transform: scale(0.898);
  }
  
  .rmv-button {
    background-color: rgba(214, 28, 28, 0.963);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  
  .rmv-button:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .button-container {
    background-color: #099a13;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .button-container a{
    text-decoration: none;
    color: white;
  
  }
   .button-container:hover{
    transform: scale(1.04);
  
   }
   .inquiry tr:hover {
    background-color: #e8e8e8;
    transform: scale(1.00003);

  }

  .popup-container-main{

    padding:25px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
  }

  .popup-container-main > div > img{
    height: 200px;
    width: 200px;
  }