.mcq{
   display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  /* max-width: 800px; */
  padding: 30px 50px;
  /* margin: 20px auto; */
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.options{
  display: flex;
  gap: 100px;
}
.options button{
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  border-width: 0px;
  border-radius: 10px;
  background-color: orange;
}
.options button:hover{
  transform: translateY(3px) scale(1.07);

}