/* CSS for MCQlist component */

.mcqlist {
  margin-top: 20px; /* Add margin at the top */
}

.mcqlist table {
  width: 100%; /* Set table width to 100% */
  border-collapse: collapse; /* Collapse table borders */
}

.mcqlist th,
.mcqlist td {
  border: 1px solid #e2e2e2; /* Set border for table cells */
  padding: 15px; /* Add padding to cells */
  text-align: left; /* Align text to the left */
}

.mcqlist th {
  background-color: #f2f2f2; /* Set background color for table header */
  padding: 20px; /* Add padding to table header cells */
}

/* Set width for specific table columns */
.mcqlist th:first-child,
.mcqlist td:first-child {
  width: 5%;
}

.mcqlist th:nth-child(2),
.mcqlist td:nth-child(2) {
  width: 20%;
}

.mcqlist th:nth-child(3),
.mcqlist td:nth-child(3) {
  width: 40%;
}

.mcqlist th:nth-child(4),
.mcqlist td:nth-child(4) {
  width: 15%;
}

.mcqlist th:nth-child(5),
.mcqlist td:nth-child(5) {
  width: 20%;
}

.mcqlist td a {
  color: blue; /* Set link color */
  text-decoration: underline; /* Underline link text */
}

.mcqlist td a:hover {
  color: darkblue; /* Change link color on hover */
}

/* Styles for remove icon */
.mcqlist-remove-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.mcqlist-remove-icon:hover {
  transform: scale(1.15); /* Scale remove icon on hover */
}

.mcqlist-remove-icon:active {
  transform: scale(0.898);
}

/* Styles for remove button */
.rmv-button {
  background-color: rgba(195, 2, 2, 0.963); /* Set background color */
  color: white; /* Set text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Add border radius */
  padding: 8px 16px; /* Add padding */
  cursor: pointer; /* Change cursor to pointer */
  font-size: 16px; /* Set font size */
  font-weight: 600; /* Set font weight */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Add box shadow */
}

.rmv-button:hover {
  transform: scale(1.04); /* Scale button on hover */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Add box shadow */
}

/* Styles for button container */
.button-container {
  background-color: #099a13; /* Set background color */
  color: white; /* Set text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Add border radius */
  padding: 8px 12px; /* Add padding */
  cursor: pointer; /* Change cursor to pointer */
  font-size: 15px; /* Set font size */
  font-weight: 600; /* Set font weight */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Add box shadow */
}

.button-container a{
  text-decoration: none; /* Remove default underline from links */
  color: white; /* Set text color */
}

.button-container:hover{
  transform: scale(1.04); /* Scale button on hover */
}
