/* Styling for Login component */

.login {
  display: flex;
  background-color: #c7f8db;
  justify-content: center;  /* Center content horizontally */
  align-items: center;  /* Center content vertically */
  padding-bottom: 40px;
  padding-top: 40px;
  height: max-content;  /* Set height to fit content */
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 500px;  /* Fixed width for login container */
  background-color: rgb(255, 255, 255);  /* White background color */
  padding: 50px 60px;  /* Padding inside login container */
  border-radius: 20px;  /* Rounded corners */
  gap: 15px;  /* Gap between child elements */
  margin: auto;  /* Center align horizontally */
}

.login-container h1 {
  font-size: 45px;  /* Font size for heading */
  font-weight: 800;  /* Bold font weight */
  margin-top: 40px;  /* Margin top for heading */
}

.login-fields {
  display: flex;
  flex-direction: column;
  gap: 30px;  /* Gap between input fields */
  justify-content: center;
}

.login-fields input {
  height: 65px;  /* Height of input fields */
  border-width: 1.4px;  /* Border width */
  border-style: solid;  /* Border style */
  border-color: rgb(212, 200, 199);  /* Border color */
  font-size: 20px;  /* Font size */
  padding-left: 19px;  /* Padding inside input fields */
  border-radius: 12px;  /* Rounded corners */
  transition: border-color 0.7s ease-in-out;  /* Transition effect for border color */
}

.login-fields input:focus {
  border-color: rgb(226, 152, 32);  /* Border color on focus */
}

.login-container button {
  width: 70%;  /* Button width */
  margin-left: 15%;  /* Left margin */
  margin-top: 20px;  /* Top margin */
  height: 60px;  /* Button height */
  background-color: hwb(0 8% 1% / 0.793);  /* Background color */
  font-size: 24px;  /* Font size */
  font-weight: 600;  /* Bold font weight */
  color: white;  /* Text color */
  border: none;  /* No border */
  border-radius: 20px;  /* Rounded corners */
  cursor: pointer;  /* Cursor type */
}

.login-container button:hover {
  transform: scale(1.012);  /* Scale effect on hover */
}

.login-container button:active {
  transform: scale(0.99);  /* Scale effect on active state */
}

.login-message {
  height: 40px;  /* Message height */
  width: 100%;  /* Message width */
  display: flex;
  justify-content: center;  /* Center content horizontally */
  align-items: center;  /* Center content vertically */
  background-color: #16a34a;  /* Background color */
  color: white;  /* Text color */
  border-radius: 7px;  /* Rounded corners */
  font-size: 18px;  /* Font size */
  font-weight: 600;  /* Bold font weight */
}
