.teacherListContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.tableContainer {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f0f0f0;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f0f0f0;
}

.actionButton {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: #0056b3;
}

.actionButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


/* Add this CSS for the assigned and unassigned button styles */
.actionButton.assigned {
  background-color: #28a745; /* Green color for assigned */
}

.actionButton.unassigned {
  background-color: #dc3545; /* Red color for unassigned */
}
