/* TeacherList.css */

.teacherListContainer {
  padding: 20px;
  width: 80%;
  background-color: #f9f9f9; /* Light background color */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px; /* Larger font size */
  font-weight: bold;
  color: #333; /* Darker text color */
}

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #fff; /* White background */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filterLabel {
  margin-right: 10px;
  font-size: 18px;
  color: #555; /* Slightly darker text color */
}

.filterSelect {
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #ccc; /* Light border */
  background-color: #fff;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease;
}

.filterSelect:hover,
.filterSelect:focus {
  border-color: #888; /* Darker border on hover/focus */
}

.tableWrapper {
  position: relative;
  height: 700px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
}

.tableBodyWrapper {
  overflow: hidden;
}

.teacherTable {
  width: 100%;
  border-collapse: collapse;
}

.teacherTable th,
.teacherTable td {
  padding: 15px;
  border-bottom: 1px solid #ddd; /* Lighter border */
  text-align: left;
  font-size: 16px;
}

.teacherTable th {
  background-color: #2ecc71;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.teacherTable tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate background color */
}

.teacherTable tbody tr:hover {
  background-color: #e5e5e5; /* Hover background color */
}

.verifyButton {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  font-size: 14px; /* Smaller font size */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.verifyButton:hover {
  background-color: #45a049;
}
